# adjust this file to your needs
# find a current recommended version here: https://git.panter.ch/panter/catladder2/-/blob/master/includes/envrc

# install nvm automatically and install correct node version
# remove this if you are not using node or have other concerns
# see https://github.com/direnv/direnv/wiki/Node#using-nvm for alternatives
use_nvm() {
    local NVM_PATH="$HOME/.nvm/nvm.sh"
    if ! [ -f "$NVM_PATH" ]; then
        echo "Installing NVM" >&2
        curl -o- https://raw.githubusercontent.com/creationix/nvm/master/install.sh | bash
    fi
    . "${NVM_PATH}"
    nvm install
    layout node
}
if [ -f .nvmrc ]; then
    use_nvm
fi

layout node # allows for local installations of catladder-cli

echo "using catenv"
eval "$(catenv)"

# additionaly load env vars from .env files
if [ -f .env ]; then
    set -o allexport
    source .env
    set +o allexport
fi
